@charset "UTF-8";
/* CSS Document */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

#helpbar html, #helpbar body, #helpbar div, #helpbar span, #helpbar applet, #helpbar object, #helpbar iframe,
#helpbar h1, #helpbar h2, #helpbar h3, #helpbar h4, #helpbar h5, #helpbar h6, #helpbar p, #helpbar blockquote, #helpbar pre,
#helpbar a, #helpbar abbr, #helpbar acronym, #helpbar address, #helpbar big, #helpbar cite, #helpbar code,
#helpbar del, #helpbar dfn, #helpbar em, #helpbar font, #helpbar img, #helpbar ins, #helpbar kbd, #helpbar q, #helpbar s, #helpbar samp,
#helpbar small, #helpbar strike, #helpbar strong, #helpbar sub, #helpbar sup, #helpbar tt, #helpbar var,
#helpbar b, #helpbar u, #helpbar i, #helpbar center,
#helpbar dl, #helpbar dt, #helpbar dd, #helpbar ol, #helpbar ul, #helpbar li,
#helpbar fieldset, #helpbar form, #helpbar label, #helpbar legend,
#helpbar table, #helpbar caption, #helpbar tbody, #helpbar tfoot, #helpbar thead, #helpbar tr, #helpbar th, #helpbar td {
margin: 0;
padding: 0;
border: 0;
outline: 0;
font-size: 100%;
vertical-align: baseline;
background: transparent;
}

#helpbar body {
line-height: 1;
}

#helpbar ol, ul {
list-style: none;
}

#helpbar blockquote, q {
quotes: none;
}

#helpbar blockquote:before, blockquote:after,
q:before, q:after {
content: '';
content: none;
}

#helpbar h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
}

/* remember to define focus styles! */
:focus {
outline: 0;
}

/* remember to highlight inserts somehow! */
#helpbar ins {
text-decoration: none;
}

#helpbar del {
text-decoration: line-through;
}

/* tables still need 'cellspacing="0"' in the markup */
#helpbar table {
border-collapse: collapse;
border-spacing: 0;
}

